@page "/fetchdata"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using RollCallSystem.Shared
@using RollCallSystem.Client.ViewModels
@using RollCallSystem.Client.Services
@attribute [Authorize]
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>
@*@if (user == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h1>Good morning, @user.FirstName. Kindly</h1>
}*@

@*<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }            
        </tbody>
    </table>
}*@

@code {
    private WeatherForecast[]? forecasts;
    //private User? user;

    protected override async Task OnInitializedAsync()
    {
        //LoginService.OnLoginSuccessful += (x) => DisplayGreeting(x);

        //try
        //{
        //    //forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("WeatherForecast");
        //    //Login user with hardcoded data (for Monday)
        //    LoginViewModel loginViewModel = new LoginViewModel();
        //    await loginViewModel.LogIn("james6789@kea.dk", "pass5678");
        //}
        //catch (AccessTokenNotAvailableException exception)
        //{
        //    exception.Redirect();
        //}
    }

    //private void DisplayGreeting(User user)
    //{
    //    this.user = user;
    //}
}
